*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.container{
    height: 100vh;
    padding: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card1{
    height: 120px;
    width: 350px;
    box-shadow: 0px 4px 8px 0px #555;
    border-left: 5px solid #5d08d5;
    border-radius: 3px;
    padding: 20px;
    margin-right: 30px;
}
.card2{
    height: 120px;
    width: 350px;
    box-shadow: 0px 4px 8px 0px #555;
    border-left: 5px solid #9b28ac;
    border-radius: 3px;
    padding: 20px;
    margin-right: 30px;
}
.card3{
    height: 120px;
    width: 350px;
    box-shadow: 0px 4px 8px 0px #555;
    border-left: 5px solid #309f9a;
    border-radius: 3px;
    padding: 20px;
    margin-right: 30px;
}
.card-main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-header{
    color: #8f8e8d;
    letter-spacing: 1px;
    font-size: 14px;
}
.percent{
    font-size: 24px;
    color: green;
}
.percent-gray{
    color: #8f8e8d;
    font-size: 24px;
}
.percent-gray i{
    font-size: 15px;
    margin-right: 4px;
}
.percent-red{
    color: red;
    font-size: 24px;
}
.card-footer{
    color: #8f8e8d;
    font-size: 14px;
}