*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container ul{
    width: 600px;
    margin: 0 auto;
    padding: 0;
}
.main-container ul li span{
    list-style-type: none;
    font-size: 24px;
    height: 100px;
    color: #000;
    display: flex;
    align-items: center;
    width: 70%;
}
.main-container ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container ul{
    border: 1px solid;
    padding: 0px;
}
.main-container ul li b{
    font-size: 24px;
}
