*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container{
    padding: 0px 20px;
}
.container{
    list-style-type: none;
    background-color: #106eea;
    color: #fff;
    padding: 10px;
}
.container ul{
    display: inline-block;
}
.container a{
    color: #fff;
    text-decoration: none;
}
.mail-icon{
    vertical-align: middle;
}
.mail li {
    display: inline-block;
    margin-right: 10px;
}
.mobile-icon{
    vertical-align: middle;
}
.social-icons{
    float: right;
}
.body-content{
    height: 50vh;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid;
}
.body-content ul{
    list-style-type: none;
   /* float: right; */
}

.body-content ul li {
    border: 1px solid;
    display: inline-block;
    padding: 10px 50px 50px 10px;
    font-size: 28px;
    margin: 10px;
}

.card-container{
    display: flex;
    justify-content: space-around;
    padding: 6% 0%;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 300px;
    background-color: #f1f5fe;
    margin: 20px;
}
.card-content {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-count{
    margin-bottom: 10px;
    /* margin-top: 10px; */
}
.card-para{
    color: #888;
}
.card-icon-bg-white{
    position: absolute;
    top: -25px;
    left: 115;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: #fff;
    border-radius: 50%;
    /* border: 3px solid red; */
}
.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.card-icon i{
    color: #fff;
    font-size: 30px;
}
